language: node_js
node_js:
  - node

services:
  - postgresql

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres


  
script: "npm run-script test8"
    
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
